<div class="ta-center area-min-height">
	<div class="question-block" data-id="[[ questionId ]]">
		[[ question ]]
	</div>
	<div class="answers-block">
		<span class="answer" data-id="[[ answer0Id ]]" data-word="[[ answer0 ]]" ng-click="sendAnswer($event)">[[ answer0 ]]</span>
		<span class="answer" data-id="[[ answer1Id ]]" data-word="[[ answer1 ]]" ng-click="sendAnswer($event)">[[ answer1 ]]</span>
	</div>
	<div class="answers-block">
		<span class="answer" data-id="[[ answer2Id ]]" data-word="[[ answer2 ]]" ng-click="sendAnswer($event)">[[ answer2 ]]</span>
		<span class="answer" data-id="[[ answer3Id ]]" data-word="[[ answer3]]" ng-click="sendAnswer($event)">[[ answer3 ]]</span>
	</div>
</div>
