<div class="ta-center area-min-height">
	<div class="clearfix">&nbsp;</div>
	<div class="hs-fc test-title" style="height: auto;">Мини-тест по английскому языку</div>
	<div class="clearfix"> </div>
	<div class="clearfix">&nbsp;</div>
	<p class="hs-fc hs-enter-name">Введите ваше имя</p>
	<div class="hs-input-block">
		<p><input type="text" id="username" name="username" ng-keypress="sendUsername($event)"></p>
		<p><input type="button" id="enter" ng-click="sendUsername($event)" value="Войти"></p>
	</div>
</div>
