<div class="ta-center area-min-height">
	<p >Введите ваше имя</p>
	<div >
		<input type="text" id="username" name="username" ng-keypress="sendUsername($event)">
	</div>
	<div >
		<input type="button" id="enter" ng-click="sendUsername($event)" value="Войти">
	</div>
</div>
