<!DOCTYPE html>
<html lang="ru-RU">
<head>
	<meta charset="utf-8" >
	<title>Мини-тест на знание английского языка</title>
</head>
<body ng-app="LangMiniTestApp">
	<div class="test-area" ng-controller="appController">
		<div ng-view></div>
	</div>
</body>
</html>
